#wrapper{
	padding:3%;
}

#suggestions{
    height: 20%;
    overflow-y: scroll;
}
#s{
	width:100%;
}
body{
	background-image: url("http://textures101.com/textures/Paper/Wallpaper/2011/10/10/tn1_4893051426b62fa08ebfo_zxjfx.jpg");
	background-repeat: repeat;
	background-size: 5%;
}
